@{
    string name = Request.Cookies["SecToken"]["FullName"];
}
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" href="@Url.Action("Launchpad","home")">
        <img class="navbar-brand-minimized ml-4 mr-1" src="https://treeoflife.ca/wp-content/uploads/2017/11/tol-logo.png" width="35" height="45" alt="TOL Logo">
        <span class="mr-4 font-lg text-muted "><b>Launchpad</b></span>
    </a>
    @*<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>*@
    <ul class="nav navbar-nav d-md-down-none">
        @*<li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Launchpad","home")">Dashboard</a>
        </li>*@
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Launchpad","home", new { view="bdm"})">BDM View</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Launchpad","home", new { view="cdm"})">CDM View</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Launchpad","home", new { view="exec"})">Reporting only</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto mr-3">
        <span>Welcome, <b><i class="px-1">  @name</i></b></span>
        <li class="nav-item dropdown">
            <a class="nav-link text-danger"" data-toggle="dropdown" href="@Url.Action("Login","account")" role="button" aria-haspopup="true" aria-expanded="false">

                    <u><i class="fa fa-power-off ml-2"></i> Logout</u>

                @*<img class="img-avatar" src="https://i.pravatar.cc/100" >*@
            </a>
            @*<div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="@Url.Action("Login","account")">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>*@
        </li>
    </ul>

</header>