
@{
    ViewBag.Title = "CDM Item Launch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Launchpad.Models.HomeViewModels.CDMViewModel
@Styles.Render("~/Content/bs-select")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Launchpad", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-lg fa-home pr-2"></i><b><u>Launchpad</u></b></a></li>
        <li class="breadcrumb-item active" aria-current="page"><b>CDM Product Update</b></li>
    </ol>
</nav>
<div class="bg-white py-5 multi_step_form">

    <div class="mx-auto text-center py-4"><h2 class="text-muted">CDM Launch</h2></div>
    <div class="row col-10 mx-auto">
        <ul class="progressbar col-12">
            <li class="active">Select Items</li>
            <li>Update Status</li>
            <li>Update Details</li>
            <li>Review & Set Follow Up</li>
        </ul>
    </div>
    <hr />
    <div class="row container-fluid">

        <div class="col-12 mx-auto">

            <section id="step1" class="step mx-auto col-12">
                <h5 class="text-muted"><span class="text-primary">Step 1</span> - Select Products to Update</h5>
                <div class="mt-2 row col-12">
                    <div class="col-3">
                        <div class="py-3"><b>Select CDM</b></div>
                        <div class="input-group">
                            <select class="form-control selectpicker bg-white btn-white border-secondary" data-live-search="true" data-style="btn-white border-secondary bg-white">
                                <option>Cathy Pye</option>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-3"><b>Select Account</b></div>
                        <div class="input-group">
                            <select class="form-control selectpicker bg-white btn-white border-secondary" data-style="btn-white border-secondary bg-white">
                                <option selected>All</option>
                                <option>Loblaws</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-3"><b>Select Banner</b></div>
                        <div class="input-group">
                            <select class="form-control selectpicker bg-white btn-white border-secondary" data-style="btn-white border-secondary bg-white">
                                <option selected>All</option>
                                <option>Fortinos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="py-3"><b>Select Brand</b></div>
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.Brands, Model.Brands, new { @class = "selectpicker form-control search-result-filter", data_live_search = "true", data_style = "btn-white border-secondary bg-white", title = "--- No Brand Selected ---" })

                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <span class="input-group-append">
                            <button class="btn btn-outline-success btn-block" type="button" onclick="showbrandtable()">Search Items</button>
                        </span>
                    </div>

                </div>
                <hr />
                @if (ViewBag.a == "launch")
                {
                    <div id="brandtable" style="display:none">
                        <table id="table_branditems" class="table table-bordered datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                    <th width="50">Item #</th>
                                    <th>Item Description</th>
                                    <th>Unit Size</th>
                                    <th>Account</th>
                                    <th>Banner</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a><i class="fa fa-times-circle-o"></i></a></td>
                                    <td>57118</td>
                                    <td>Kikkoman Tempura Batter Mix 255 GR</td>
                                    <td>255 GR</td>
                                    <td>Loblaws</td>
                                    <td>Nofrills</td>
                                    <td><i class="fa fa-square text-dark"></i> Discussion Required</td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90001</td>
                                    <td>Kikkoman Soy Sauce 255ml</td>
                                    <td>255 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td><i class="fa fa-square text-secondary"></i> Ready to Present</td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90002</td>
                                    <td>Kikkoman Soy Sauce 500ml</td>
                                    <td>500 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td><i class="fa fa-square text-secondary"></i> Ready to Present</td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90003</td>
                                    <td>Kikkoman Soy Sauce 750ml</td>
                                    <td>750 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td><i class="fa fa-square text-secondary"></i> Ready to Present</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                    </div>
                }
                else if (ViewBag.a == "update" || ViewBag.a == null || ViewBag.a == "")
                {
                <div id="brandtable" style="display:none">
                    <table id="table_branditems" class="table table-bordered datatable">
                        <thead class="thead-light">
                            <tr>
                                <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                <th width="50">Item #</th>
                                <th>Item Description</th>
                                <th>Unit Size</th>
                                <th>Account</th>
                                <th>Banner</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                <td>57118</td>
                                <td>Kikkoman Tempura Batter Mix</td>
                                <td>255 GR</td>
                                <td>Loblaws</td>
                                <td>Fortinos</td>
                                <td><i class="fa fa-square text-info"></i> Initiated Contact</td>
                            </tr>
                            <tr>
                                <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                <td>57129</td>
                                <td>Kikkoman Tempura Batter Mix 500</td>
                                <td>255 GR</td>
                                <td>Loblaws</td>
                                <td>Fortinos</td>
                                <td><i class="fa fa-square text-primary"></i> Pending</td>
                            </tr>
                            
                            <tr>
                                <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                <td>57118</td>
                                <td>Kikkoman Tempura Batter Mix</td>
                                <td>255 GR</td>
                                <td>Loblaws</td>
                                <td>Fortinos</td>
                                <td><i class="fa fa-square text-primary"></i> Pending</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                </div>
                }
                <div class="row py-5 col-12 mx-auto" id="step1final" style="display:none">
                    <button class="btn btn-lg btn-outline-success btn-block" onclick="Step2()">Next Step</button>
                </div>
                
            </section>
            <section id="step2" class="mt-3 step d-none">
                <!-- PO Details -->
                <a href="#?" onclick="Step1()"><i class="fa fa-long-arrow-left pr-2"></i>Previous Step</a><hr />
                <h5 class="text-muted py-3"><span class="text-primary">Step 2</span> - Update Status</h5>
                <div class="row p-0">
                    <div class="col-6">
                        <div class="form-group col-12">
                            <label for="sel1">Status:</label>
                            <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                <option value="" selected disabled>--- Select status ---</option>
                                <option data-content="<i class='fa fa-square text-warning'></i> Samples Required"></option>
                                <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                <option data-content="<i class='fa fa-square text-info'></i> Initial Contact"></option>
                                <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-block btn-primary" onclick="applycommenttoall()">Apply values to Selected</button>
                        </div>
                    </div>
                    

                </div>
                <hr />
                @if (ViewBag.a == "launch")
                {
                    <div id="launchtable" class="table-responsive">
                        <table id="table_groupitems" class="table table-bordered datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                    <th width="50">Item #</th>
                                    <th>Item Description</th>
                                    <th width="100">Unit Size</th>
                                    <th width="100">Account</th>
                                    <th width="100">Banner</th>
                                    <th width="200">Status</th>
                                    <th >Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90001</td>
                                    <td>Kikkoman Soy Sauce 255ml</td>
                                    <td>255 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td>
                                        <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                            <option data-content="<i class='fa fa-square text-secondary'></i> Ready to Present" selected disabled></option>
                                            <option data-content="<i class='fa fa-square text-warning'></i> Samples Required"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Contact"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                            <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                            <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                                        </select>
                                    </td>
                                    <td><div><textarea class="form-control commenttable" rows="2" id="comment1"></textarea></div></td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90002</td>
                                    <td>Kikkoman Soy Sauce 500ml</td>
                                    <td>500 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td>
                                        <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                            <option data-content="<i class='fa fa-square text-secondary'></i> Ready to Present" selected disabled></option>
                                            <option data-content="<i class='fa fa-square text-warning'></i> Samples Required"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Contact"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                            <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                            <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                                        </select>
                                    </td>
                                    <td><div><textarea class="form-control commenttable" rows="2" id="comment2"></textarea></div></td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90003</td>
                                    <td>Kikkoman Soy Sauce 750ml</td>
                                    <td>750 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td>
                                        <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                            <option data-content="<i class='fa fa-square text-secondary'></i> Ready to Present" selected disabled></option>
                                            <option data-content="<i class='fa fa-square text-warning'></i> Samples Required"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Contact"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                            <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                            <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                                        </select>
                                    </td>
                                    <td><div><textarea class="form-control commenttable" rows="2" id="comment3"></textarea></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                    </div>
                }
                else
                {
                    <div id="launchtable" class="table-responsive">
                        <table id="table_groupitems" class="table table-bordered datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                    <th width="50">Item #</th>
                                    <th>Item Description</th>
                                    <th width="100">Unit Size</th>
                                    <th width="100">Account</th>
                                    <th width="100">Banner</th>
                                    <th width="200">Status</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90001</td>
                                    <td>Kikkoman Soy Sauce 255ml</td>
                                    <td>255 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td>
                                        <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                            <option data-content="<i class='fa fa-square text-warning'></i> Samples Required" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Contact" selected></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                            <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                            <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                                        </select>
                                    </td>
                                    <td><div><textarea class="form-control commenttable" rows="2" id="comment1"></textarea></div></td>
                                </tr>
                                <tr>
                                    <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                    <td>90002</td>
                                    <td>Kikkoman Soy Sauce 500ml</td>
                                    <td>500 ml</td>
                                    <td>Loblaws</td>
                                    <td>Fortinos</td>
                                    <td>
                                        <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                            <option data-content="<i class='fa fa-square text-warning'></i> Samples Required" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Contact" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting" disabled></option>
                                            <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent" disabled></option>
                                            <option data-content="<i class='fa fa-square text-primary'></i> Pending" selected></option>
                                            <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                            <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>

                                        </select>
                                    </td>
                                    <td><div><textarea class="form-control commenttable" rows="2" id="comment2"></textarea></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                    </div>
                }
                <hr />
                <div class="row pt-4">
                    <button class="btn btn-lg btn-outline-success btn-block" onclick="Step3()">Next Step</button>
                </div>
            </section>
            <section id="step3" class="mt-3 step d-none">
                <a href="#?" onclick="Step2()"><i class="fa fa-long-arrow-left pr-2"></i>Previous Step</a><hr />
                <h5 class="text-muted py-3"><span class="text-primary">Step 3</span> - Update Details</h5>
                <div class="col-12 row p-0">
                    <div class="col-4">
                        <div class="form-group col-12">
                            <label for="comment">Category:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-12">
                            <label for="comment">POG Review Date:</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group col-12">
                            <label for="comment">POG Drop Date:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group col-4">
                        <label for="comment">Category Manager / Contact Info:</label>
                        <textarea class="form-control" rows="9" id="comment"></textarea>
                    </div>
                    <div class="form-group col-4">
                        <label for="comment">Competitive Info:</label>
                        <textarea class="form-control" rows="9" id="comment"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-block btn-primary" onclick="applycommenttoall()">Apply values to Selected</button>
                    </div>

                </div>
                <hr />
                <div id="launchtable" class="table-responsive">
                    <table id="table_groupitems" class="table table-bordered datatable">
                        <thead class="thead-light">
                            <tr>
                                <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                <th width="200">Item Description</th>
                                <th width="100">Unit Size</th>
                                <th width="100">Account</th>
                                <th width="100">Banner</th>
                                <th width="150">Category</th>
                                <th width="150">POG Dates</th>
                                <th>Contact Info</th>
                                <th>Competitive Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                <td>Kikkoman Tempura Batter Mix</td>
                                <td>255 GR</td>
                                <td>Metro</td>
                                <td>-</td>
                                <td><input type="text" class="form-control" /></td>
                                <td>
                                    <div class="form-group mb-1">
                                        <label for="pogreview">Review:</label>
                                        <input id="pogreview" type="date" class="form-control form-control-sm" />
                                    </div>
                                    <div class="form-group m-0">
                                        <label for="pogdrop">Drop:</label>
                                        <input id="pogdrop" type="date" class="form-control form-control-sm" />
                                    </div>
                                </td>
                                <td><div><textarea class="form-control commenttable" rows="5" id="comment1"></textarea></div></td>
                                <td><div><textarea class="form-control commenttable" rows="5" id="comment2"></textarea></div></td>
                            </tr>

                        </tbody>
                    </table>
                    <hr />
                </div>
                <hr />
                <div class="row pt-4">
                    <button class="btn btn-lg btn-outline-success btn-block" onclick="Step4()">Next Step</button>
                </div>
            </section>
            <section id="step4" class="mt-3 step d-none">
                <a href="#?" onclick="Step3()"><i class="fa fa-long-arrow-left pr-2"></i>Previous Step</a><hr />
                <h5 class="text-muted py-3"><span class="text-primary">Step 4</span> - Review and Set Follow Up</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="comment">Follow Up Date:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-4">
                        <button class="btn btn-block btn-primary" onclick="applycommenttoall()">Set Follow up dates for selected</button>
                    </div>
                </div>

                <hr />
                <div class="table-responsive">
                    <table id="table_step4" class="table table-bordered datatable">
                        <thead class="thead-light">
                            <tr>
                                <th width="50"><button class="btn btn-primary btn-sm">Select All</button></th>
                                <th>Item #</th>
                                <th>Item Description</th>
                                <th>Unit Size</th>
                                <th>Status</th>
                                <th>Follow Up Date</th>
                                <th>Comment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#?" class="group-item"><i class="fa fa-circle-o"></i></a></td>
                                <td>90001</td>
                                <td>Kikkoman Tempura Batter Mix</td>
                                <td>255 GR</td>
                                <td><i class="fa fa-square text-primary"></i> Pending</td>
                                <td><input type="date" class="form-control"></td>
                                <td><textarea class="form-control bg-white" rows="2" readonly >Test Comment</textarea></td>
                                <td><button class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modalDetails">Details</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row pt-4">
                    <a href="@Url.Action("Launchpad", null, new { view = "cdm", controller = "Home" }, Request.Url.Scheme)" class="btn btn-lg btn-outline-success btn-block">Save and Exit</a>
                </div>

                <!--Modals-->
                <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="modalDetails" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalItemGroup1Label">Details for: 90001 - Kikkoman Tempura Batter Mix - 255 GR</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card border-0">
                                    <div class="card-body  p-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <h5>Category</h5>
                                                    <input type="text" class="form-control" contenteditable="false" value="Example Category">
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <h5>POG Review Date</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control bg-white" readonly value="02/01/2020">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <h5>POG Drop Date</h5>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control bg-white" readonly value="02/02/2020">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <h5>Contact Info</h5>
                                                    <textarea class="form-control bg-white" rows="5" id="comment1" readonly>Contact Info Example</textarea>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-group">
                                                    <h5>Competitive Info</h5>
                                                    <textarea class="form-control bg-white" rows="5" id="comment2" readonly>Competitive Info Example</textarea>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalApprove" tabindex="-1" role="dialog" aria-labelledby="modalApprove" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalItemGroup1Label">Confirm submission</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                A confirmation email will be sent to you and your team lead.
                            </div>
                            <div class="modal-footer">
                                <a id="btn-CompleteApprove" class="btn btn-lg btn-block btn-success" href="@Url.Action("Launchpad", null, new { view = "cdm", controller = "Home" }, Request.Url.Scheme)">Confirm</a>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Site/formwizard.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_branditems').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                "order": [[1, "asc"]],
            });
            $('#table_groupitems').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [0,6,7,8] }
                ],
                "order": [[1, "asc"]],
            });
            $('#table_step4').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [0, 5, 7] }
                ],
                "order": [[1, "asc"]],
            });
            $('[data-toggle="tooltip"]').tooltip();
            $("#btn-programDeselectAll").hide();
        });
        
        function selectAll() {
            $('#selitemGroups option').attr('selected', true);
            $("#selitemGroups").data("selectpicker").refresh()
        }
        function showbrandtable() {
            $("#brandtable").show();
            $("#step1final").show();
        }
    </script>
}